{% load static %}

<!DOCTYPE html>

<html>
   <head id="Head1" >
 <meta charset="UTF-8" />
    <title>SMITS | Admin Panel</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
     <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/MoneAdmin.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/plugins/Font-Awesome/css/font-awesome.css' %}" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="{% static 'assets/plugins/social-buttons/social-buttons.css' %}" />
    <!-- END PAGE LEVEL  STYLES -->
       <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="padTop53 ">

    
    <div id="wrap">

          <!-- HEADER SECTION -->
        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header">

                    <a href="#" class="navbar-brand">
                    
                         <h4 style="color:#400bca"><img src="{% static 'img/Medicine.png' %}" alt="" width="35px" height="25px"/> Drowsiness Detection</h4>
                 <!--
                        <img src="assets/img/logo.png" alt="" />
                    -->
                    </a>
                    
                    
                </header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right">

                 
        
                    <!-- END ALERTS SECTION -->

                    <!--ADMIN SETTINGS SECTIONS -->

                    <li class="dropdown" >
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #400bca;">
                            <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                           
                            <li><a href="{% url 'Privacy' %}"><i class="icon-gear"></i> Privacy </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'Logout' %}" id="loginLink"><i class="icon-signout"></i> Logout </a>
                            </li>
                        </ul>

                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>

            </nav>

        </div>
        <!-- END HEADER SECTION -->



        <!-- MENU SECTION -->
       <div id="left">
            <div class="media user-media well-small">
             <a class="user-link" href="#">
                    <img class="media-object img-thumbnail user-img" alt="User Picture" src="{% static 'assets/img/user.gif' %}" />
                </a>
                <br />
                <div class="media-body">
                    <h5 class="media-heading"> Admin</h5>
                    <ul class="list-unstyled user-info">
                        
                        <li>
                             <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online
                           
                        </li>
                       
                    </ul>
                </div>
                <br />
            </div>

            <ul id="menu" class="collapse">

                
                <li class="panel active" >
                    <a href="{% url 'AdminHome' %}" >
                        <i class="icon-table" ></i> Home
	   
                       
                    </a>                   
                </li>

            
                <li class="panel active">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                        <i class="icon-tasks"> </i> Manage Staff  
	   
                        <span class="pull-right">
                          <i class="icon-angle-down"></i>
                        </span>
                      
                    </a>
                    <ul class="in" id="component-nav">
                       
                        <li class=""><a href="{% url 'Appoint_Staff' %}"><i class="icon-angle-right"></i> Appoint Staff </a></li>
                        <li class=""><a href="{% url 'Our_Staff'%}"><i class="icon-angle-right"></i> Our Staff  </a></li>
                       
                             </ul>
                </li>   
               
                <li class="panel active">
                    <a href="#" data-parent="#menu1" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav1">
                        <i class="icon-tasks"> </i>Users   
	   
                        <span class="pull-right">
                          <i class="icon-angle-down"></i>
                        </span>
                       
                    </a>
                    <ul class="in" id="component-nav1">
                       
                     <li class=""><a href="{% url 'Our_Users' %}"><i class="icon-angle-right"></i> Users </a></li>
                     <!-- <li class=""><a href="{% url 'scrsht' %}"><i class="icon-angle-right"></i> Reports </a></li> -->
                         <li class=""><a href="{% url 'admin_payment' %}"><i class="icon-angle-right"></i> Waiting Fines </a></li>
                         <li class=""><a href="{% url 'fine_pay' %}"><i class="icon-angle-right"></i>Completed fine Reports </a></li>

                             </ul>
                </li>  
 <li class="panel active">
     <a href="{% url 'complaints' %}" >
                        <i class="icon-table"></i> Manage Complaints
	   
                       
                    </a>                   
                </li>
                
               
          
                


                

            </ul>

        </div>
        <!--END MENU SECTION -->

        <!--PAGE CONTENT -->
        <div id="content">
           
                <div class="inner">
                    
               
                       <div class="row">
        <div class="col-lg-12">
            <div class="box primary">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Admin Panel</h5>
                    <div class="toolbar">
                       <!-- <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#div1">Search</button>-->
                    </div>
                </header>
                <div class="body collapse in" id="div1">
                




                 
                    {% block content %}{% endblock %}
                    
                  
                   
                   
                </div>
            </div>
        </div>
        
  </div>
               
                        </div>
                    </div>              
             <!--END PAGE CONTENT -->            
                 </div>    
    <!--END MAIN WRAPPER -->
   <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  &nbsp; &nbsp;</p>
    </div>
    <!--END FOOTER -->
     <!-- GLOBAL SCRIPTS -->
    <script src="{% static 'assets/plugins/jquery-2.0.3.min.js' %}"></script>
     <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <div>

    </div>
    <style>.box.primary header {
        color: #fcfbfb;
        background-repeat: repeat-x;
        border-bottom: 1px solid #010000;
        background-image: linear-gradient(to bottom, #6600cc 0%, #000033 100%); /* Adjust color values */
    }
    
    /* Increase the intensity of the active menu link */
    #menu > li.active > a {
        color: #f2e8e8;
        background-image: linear-gradient(to bottom, #6600cc 0%, #000033 100%); /* Adjust color values */
    }
#component-nav1 a,
        #menu > li.active > a,
        #component-nav a,
        #component-nav1 li a {
            color: #400bca; /* Set the desired color */
            transition: color 0.3s ease, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Apply transition to color and transform properties */
        }

        #component-nav1 a:hover,
        #menu > li.active > a:hover,
        #component-nav a:hover,
        #component-nav1 li a:hover {
            color: #e2dfe5; /* Set a different color for hover effect */
            transform: perspective(1000px) rotateY(20deg); /* Increase rotation angle for more intensity */
        }
        .dropdown-menu.dropdown-user li a {
            color: #400bca;
        }.inner {
    position: relative;
    min-height: 1px;
    /* padding-right: 10px; */
    /* padding-right: 15px; */
    /* padding-left: 10px; */
    background: #fff;
    border: 0px solid #e4e4e4;
    /*  min-height: 1200px; */
   }
    </style>
  
</body>
</html>
